name: FastAPI CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest


  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    needs: test 

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t fastapi-demo .


  deploy:
    if: github.ref == 'refs/heads/main' && github.actor == '0joksa0'
    name: Deploy to local machine
    runs-on: self-hosted
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build image locally
        run: docker build -t fastapi-demo .

      - name: Restart container
        run: |
          docker stop fastapi-demo || true
          docker rm fastapi-demo || true
          docker run -d -p 8000:8000 --name fastapi-demo fastapi-demo

